<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @test_mysql.content %>
</p>

<%= link_to 'Edit', edit_test_mysql_path(@test_mysql) %> |
<%= link_to 'Back', test_mysqls_path %>
